.top-bar {
  font-size: 12px;
  color: #85808C;
  height: 38px;
  padding-top: 8px;

}

.top-bar,
.navbar,
.navbar-mp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;
}

.top-bar ul,
.navbar ul,
.navbar-mp ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.top-bar,
.navbar,
.navbar-mp {
  padding-left: 16px;
  padding-right: 16px;
}

.top-bar-left ul , .top-bar-right ul{
  vertical-align: bottom;
}
input {
  width: calc(100% - 30px);

  border: none;
  padding-block: 0;
  box-shadow: none;
  color: #85808C;
}

#logo-main {
  height: 30px;
  width: auto;
  display: none;
}

#logo-small {
  height: 33px;
  width: 33px;
  display: block;
}

.browse-topic {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 16px;
  color: #44413D;
  font-weight: bolder;
  font-size: 18px;

}

.dd-col-wrapper {
  font-size: 14px;
  padding-left: 32px;
  padding-right: 16px;
  margin-bottom: 16px;
  padding-bottom: 14px;
  display: block;
  border-bottom: 2px solid #D7D5D2;
}

.ddbrowse-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
}

#browse-dd,
#browse-dd-mp {
  position: absolute;
  background: #FFFFFF;
  width: calc(100% - 48px);
  z-index: 1;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  color: #527ACD;
  border-radius: 3px;
  border: 1px solid #e8e6e3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
}

#browse-dd-mp {
  top: 140px;
}

.dd-col,
.dd-col-mp {
  display: block;
  float: left;
  width: 100%;
}

.dd-col a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 4px 0;
  line-height: 24px;
}

.dd-col-mp a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 20px 0;
  line-height: 24px;
}

@media only screen and (min-width:1006px) {
  #logo-main {
    display: block;
  }

  #logo-small {
    display: none;
  }

}

@media only screen and (max-width: 480px) {
  .searchbar-hidden{
    display: none;
  }
}

@media only screen and (min-width: 480px) {
.searchicon-smallscreen{
  display: none;
}
  .top-bar,
  .navbar,
  .navbar-mp {
    padding-left: 24px;
    padding-right: 24px;
  }


}

@media only screen and (min-width: 768px) {

  .dd-col,
  .dd-col-mp {
    width: 33.33%;

  }

  .dd-col-wrapper {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {

  .top-bar,
  .navbar-hidden {
    display: none;

  }

  #browse-dd {
    top: 60px;
  }

}

@media only screen and (min-width: 1024px) {
  .dd-col {
    width: 25%;
  }
}

@media only screen and (min-width: 1280px) {
  .top-bar,
  .navbar,
  .navbar-mp {
    padding-left: 8.71%;
    padding-right: 8.71%;
  }

  #browse-dd,
  #browse-dd-mp {
    width: calc(100% - 17.42%);
  }

}

@media only screen and (min-width: 1600px) {
  .top-bar,
  .navbar,
  .navbar-mp {
    padding-left: 140px;
    padding-right: 140px;
    /* margin-left: 5%;
    margin-right: 5%; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
  }

  #browse-dd,
  #browse-dd-mp {
    width: calc(100% - 280px);
  }

}

.top-bar-left {
  margin-left: 0px;
  display: inline-block;
  width: 100%;
}

.top-bar-right,
.navbar-right {
  display: inline-block;
}

.navbar-iconlist {
  display: block;
  text-align: center;
}


@media only screen and (min-width:768px) and (max-width: 1023px) {
  .top-bar-right {
    width: 20%;
  }
}

@media only screen and (min-width:1024px) and (max-width: 1439px) {
  .top-bar-right {
    width: 30%;
  }
}

@media only screen and (min-width:1440px) {
  .top-bar-right {
    width: 40%;
  }

}

@media only screen and (min-width:1420px) {
  .top-bar-left {
    margin-left: 10%;
  }
}

.top-bar-right ul,
.navbar-right ul {
  float: right;
}

.top-bar-left ul {
  justify-content: space-between;
}

.top-bar-left li,
.top-bar-right li {
  align-self: baseline;
  padding: 5px 0px 0px 0px;

}

.top-bar-right li {
  align-self: baseline;
  padding: 5px 15px 0px 0px;

}

.navbar-right li {
  align-self: baseline;
  padding: 5px 16px 0px 0px;
}

@media only screen and (min-width:910px) {

  .top-bar-left li,
  .top-bar-right li {
    padding: 5px 30px 0px 0px;
  }

}

.navbar-left li {
  align-self: center;
  padding: 5px 30px 5px 0px;
}

.browse-div {
  display: flex;
  cursor: pointer;

}

.navbar {
  height: 56px;
  color: #65605D;
  font-size: 12px;
  line-height: 16px;
}

.wrapper-topbar {
  background: #F6F5F4;
}

.wrapper-navbar-mp {
  background: #D93A3F;
}

.navbar-mp {
  height: 40px;
  color: #FFFFFF;

  height: 40px;
  font-weight: bold;
  font-size: 13px;
}

.navbar,
.navbar-mp {
  align-items: center;
}

.navbar-right li {
  align-self: last baseline;

}

.navbar-right a{
  text-decoration: none;
  color: inherit;
}

.navbar-iconlist-profile-lg {
  display: none;
}

.navbar-iconlist-profile-sm {
  display: block;
}

.navbar-iconlist-profile-sm img {
  width: 22px;
  height: 22px;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    font-size: 14px;
    line-height: 24px;
  }

  .navbar-iconlist{
    display: flex;
  }

  .icon-navbar {
    vertical-align: middle;
  }

  .navbar-right li {
    align-self: center;
  }

  .navbar-iconlist-profile-lg {
    display: flex;
    align-self: last baseline;
  }

  .navbar-iconlist-profile-sm {
    display: none;
  }
}

@media only screen and (min-width: 1080px) {
  .navbar-right li {
    padding-right: 30px;
  }
}

.icon-navbar {
  width: 16px;
  height: 16px;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.icon-navbar-user {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-left: 5px;
}