.gallery-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .photo-screen{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 870px;
    max-height: 600px; 
    border: 1px solid #d7d5d2;
    display: grid;
    place-items: center;
    object-fit: contain;
  }
  .photo-screen img {
    /* max-width: 100%; */
    
    object-fit: contain;
    max-width: 800px;
    max-height: 600px; 
    width: 100%;
    
  }

  
  .photo-list {
    /* width: 785px; */
    width: 100%;
    height: 66px;
    overflow: hidden;
    /* display: inline; */
    padding: 24px;
/* 
    margin-bottom: 32px; */
    display: flex;
    margin-top: 10px;
    align-items:start;
  
  } 
  /* .photo-single {
    width: 88px;
    height: 66px;
    box-shadow: inset 0 0 0 2px #ffcb4f;
    display: grid;
    place-items: center;
    margin-left: 24px;
  
  }
   */
  /* .photo-single img {
    width: 88px;
  }
   */
  /* .thumbnail-container {
    display: flex;
    margin-top: 10px;
    align-items:start;
  } */
  .thumbnail-wrapper, .active-thumbnail{
    width: 88px;
    height: 66px;
    /* box-shadow: inset 0 0 0 2px #ffcb4f; */
    display: grid;
    place-items: center;
    margin-left: 24px;
    
  }
  .thumbnail-wrapper img, .active-thumbnail img{
    width: 100%;
    height: 100%;
    max-width: 88px;
    max-height: 66px;
    /* margin: 24px 12px; */
    cursor: pointer;
    object-fit: contain;
   
  }
  
  .active-thumbnail {
    border: 2px solid #FFCB4F; 
  }
  
  .arrow {
    margin: 0;

  }
  .navigation-arrows {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.3s ease; 

  }
  
  .arrow-left-big,
  .arrow-right-big {
    margin: 0 ;
    background-color: #858585;
    width: 56px;
    height: 56px;
    
  }

  .arrow-left-big{
    border-radius: 0 6px 6px 0;
  }
  .arrow-right-big{
    border-radius: 6px 0 0 6px;
  }
  .arrow-left-big img, .arrow-right-big img{
    width: 32px;
    margin: auto;
    transform: translate(40%, 40%);
  }
  
  .photo-screen:hover .navigation-arrows {
    opacity: 1; 
    
  }
  @media only screen and (max-width: 768px) {

    .photo-screen {
      order: 0;
      width: 100%;
      height: fit-content;
    }
  
    .photo-screen img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      max-width: calc(100% - 120px);
    }
  
    .photo-list {
      order: 1;
      width: auto;
    }
  
  }